*{
    padding: 0;
    margin: 0;
}

#Employee{
    background-color: rgb(252, 166, 226);
    height: 250vh;
    align-items: center;
}

.heading{
    color: red;
    font-size: 56px;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    padding: 20px 0 20px 0;
}

.id{
    width: 140%;
    padding: 10px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid lightgray;
}

.main{
    padding-left: 375px;
}

table{
    color: rgb(49, 48, 48);
    background-color: rgb(243, 201, 230);
    border-collapse: collapse;
    font-size: 16px;
    font-family: serif;
    padding: 5px;
    border: 5px solid rgb(255, 0, 157);
}

td{
    padding: 25px;
}

td input{
    width: 10px;
}

@media only screen and (max-width:897px){
    .main{
        padding-left: 200px;
    }
    
}

@media only screen and (max-width:704px){
    .main{
        padding-left: 150px;
    }
    
}
